body
{
  margin:0px;
  padding:0px;
	font-family: sans-serif;
	background-color: lightblue;
	/*color:#fff; */
	font-weight:300;

}

.rec-view{
  margin-left:55px;
  padding:10px;
	font-family: sans-serif;
	background-color: lightblue;
	/*color:#fff;*/
	font-weight:300;

}

.recipe-headline{
    text-align: center;
}
.rec-byline{
    text-align: center;
}
.rec-date-rate{
    text-align: center;
}
.rec-rating{
    margin-left:50px;


}


.rec-times-table{}
    table, td, th {
    border: 1px solid #aaa;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 60px;
    }

    td {
        text-align: center;
        padding: 5px;
    }

.home-link-grid{
    display: grid;
    grid-gap: 10px 10px;
    width: 80%;
    grid-auto-flow: row;
    grid-template-columns: 50px 50px 50px;

}

.home-grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.home-navbar-block{
    display: block;
    background:#e6e1e1; /*Menu background color*/
    position:fixed;
    border-radius: 10px;
    padding:2px 2px;
    width: auto;
    left: 50%;
    margin-left: -300px;
    margin-top: 0;
    margin-bottom 0;
}
.home-navbar{
    display: table;

}
.home-navbar-item{
  display: table-cell;
  text-align: center;
 /* padding: 20px 0;*/
/*  height: 55px;*/
  vertical-align: center;
}
.home-navbar-link{
  display: table;
  height: 30px;
  vertical-align: center;
}

.home-navbar-icon{
  display: table-cell;
  height: inherit;
  width: height;
  padding: 5px 5px;
  vertical-align: middle;
}
.home-navbar-text{
  display: table-cell;
  text-align: left;
  width: auto;
  padding: 0 3px;
  font-size: 16px;
  height: inherit;
  vertical-align: middle;
}

.filter-table{


}





/*@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
*/


/* ScrollBar  */
/*
.scrollbar
{

height: 100%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 100%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}
*/
/* Scrollbar Style */


/*
#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
*/
/* Scrollbar End */


.main-menu:hover, nav.main-menu.expanded {
width:175px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#e6e1e1; /*Menu background color*/
position:fixed;

top:50%;
margin-top: -185px;

/*height:60%;*/
vertical-align: middle;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
border-radius: 25px;
}

.main-menu>ul {
margin:7px 0;
display:table;
height: 100%;

}

.main-menu li {
position:relative;
/*display:block;*/
/*display:table-row;*/
width:175px;
margin: 5px 0; /*Margin between nav rows*/



}

.main-menu li>a {
position:relative;
width:175px;
height: inherit;
display:table-row;
border-collapse:collapse;
border-spacing:0;

color:#8a8a8a; /*Nav text font color*/
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: sans-serif;
border-top:0px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;
}

.main-menu .nav-icon{
  position:relative;
  display: table-cell;
  width:55px;
  height:40px;
  vertical-align:middle;
  margin-left: auto;
  margin-right: auto;

}

.main-menu .nav-text  {

position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;

}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;

}


/* Logo Hover Property */

a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;

}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;

}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/


.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#faf0e6;
background-color:#00bbbb; /* hover active background color*/
text-shadow: 0px 0px 0px;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
}
