{% extends 'nav_base.html' %}

{% block head %}
<title>Splash Page</title>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
.icon{
  display: inline;
  height: 50px;
  width: height;
  padding: 5px 5px;
  vertical-align: middle;
  Cache-Control: public, max-age=15552000;

}

</style>
{% endblock %}

{% block body %}
<br>
<div>
    <img class="icon" src="{{ url_for('static', filename='svg/dish-svgrepo-com.svg') }}" />
    <img class="icon" src="{{ url_for('static', filename='svg/ramen-box-japanese-cuisine-svgrepo-com.svg') }}" />
    <img class="icon" src="{{ url_for('static', filename='svg/apron-svgrepo-com.svg') }}" />
    <img class="icon" src="{{ url_for('static', filename='svg/website-svgrepo-com.svg') }}" />
    <img class="icon" src="{{ url_for('static', filename='svg/favorite-svgrepo-com.svg') }}" />
    <img class="icon" src="{{ url_for('static', filename='svg/search-svgrepo-com.svg') }}" />
</div>

<h1>Recipes Database Demo</h1>

<br>
<div>
    <form action="/main" method="POST">
        <input type="submit" value="Begin">
    </form>
</div>
{%endblock%}  