{% extends 'view_recipe.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav_css.css') }}">
{% endblock %}

{% block head %}
<title>Recipes Boi</title>
{% endblock %}

{% block body %}



{% block navbar %}
<nav class="main-menu">

  <div class="scrollbar" id="style-1">

    <ul>

      <li>
        <a href="/">
            <img class="nav-icon" src="{{ url_for('static', filename='svg/home-svgrepo-com.svg') }}" />
          <span class="nav-text">Home</span>
        </a>
      </li>

      <li>
        <a href="http://startific.com">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/dish-svgrepo-com.svg') }}" />
          <span class="nav-text">Type of Dish</span>
        </a>
      </li>


      <li>
        <a href="http://startific.com">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/ramen-box-japanese-cuisine-svgrepo-com.svg') }}" />
          <span class="nav-text">Cuisine</span>
        </a>
      </li>

      <li>
        <a href="http://startific.com">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/website-svgrepo-com.svg') }}" />
          <span class="nav-text">Source</span>
        </a>
      </li>

      <li>
        <a href="http://startific.com">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/favorite-svgrepo-com.svg') }}" />
          <span class="nav-text">Favorites</span>
        </a>
      </li>


      <li>
        <a href="http://startific.com">
         <img class="nav-icon" src="{{ url_for('static', filename='svg/search-svgrepo-com.svg') }}" />
          <span class="nav-text">Search</span>
        </a>
      </li>


    </ul>



  </div>
</nav>
{% endblock %}

<!--Recipe content-->
{% block recipeContent %}
{{ super() }}


{% endblock %}

{% endblock %}