<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_css.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}

{% block navbar%}
<nav class="main-menu">

  <div class="scrollbar" id="style-1">

    <ul>

      <li>
        <a href="/main">
            <img class="nav-icon" src="{{ url_for('static', filename='svg/home-svgrepo-com.svg') }}" />
          <span class="nav-text">Home</span>
        </a>
      </li>

      <li>
        <a >
          <img class="nav-icon" src="{{ url_for('static', filename='svg/dish-svgrepo-com.svg') }}" />
          <span class="nav-text-dead">Type of Dish</span>
        </a>
      </li>


      <li>
        <a >
          <img class="nav-icon" src="{{ url_for('static', filename='svg/ramen-box-japanese-cuisine-svgrepo-com.svg') }}" />
          <span class="nav-text-dead">Cuisine</span>
        </a>
      </li>

      <li>
        <a href="/author_list">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/apron-svgrepo-com.svg') }}" />
          <span class="nav-text">Authors</span>
        </a>
      </li>

      <li>
        <a href="/source_list">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/website-svgrepo-com.svg') }}" />
          <span class="nav-text">Source</span>
        </a>
      </li>

      <li>
        <a href="/favorites">
          <img class="nav-icon" src="{{ url_for('static', filename='svg/favorite-svgrepo-com.svg') }}" />
          <span class="nav-text">Favorites</span>
        </a>
      </li>


      <li>
        <a >
         <img class="nav-icon" src="{{ url_for('static', filename='svg/search-svgrepo-com.svg') }}" />
          <span class="nav-text-dead">Search</span>
        </a>
      </li>


    </ul>



  </div>
</nav>
{% endblock %}

{% block navbarH %}
<!--Home horizontal navbar-->
<nav class="home-navbar-block">
<div class="home-navbar">
    <div class="home-navbar-item">
        <a class="home-navbar-link-dead" >
         <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/search-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Search</span>
        </a>
    </div>
    <div class="home-navbar-item">
        <a class="home-navbar-link-dead" >
          <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/dish-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Type of Dish</span>
        </a>
    </div>
    <div class="home-navbar-item">
        <a class="home-navbar-link-dead" >
          <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/ramen-box-japanese-cuisine-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Cuisine</span>
        </a>
    </div>
    <div class="home-navbar-item">
        <a class="home-navbar-link" href="/author_list">
          <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/apron-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Authors</span>
        </a>
    </div>
    <div class="home-navbar-item">
        <a class="home-navbar-link" href="/source_list">
          <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/website-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Source</span>
        </a>
    </div>
    <div class="home-navbar-item">
        <a class="home-navbar-link" href="/favorites">
          <img class="home-navbar-icon" src="{{ url_for('static', filename='svg/favorite-svgrepo-com.svg') }}" />
          <span class="home-navbar-text">Favorites</span>
        </a>
    </div>

  </div>
</nav>
{% endblock %}


{% block recipeContent %}
<!--Recipe content-->
<div class="rec-view">
    {% block header %}
    <div class="recipe-header">
       <h1 class='recipe-headline'>
           {{ recipe.name }}
       </h1>
    </div>
    {% endblock %}

    {% block author %}
    <div class="rec-author">
        <h3 class="rec-byline">By {{ author[0].get('name') }} and <a href="{{ publisher[1] }}">{{ publisher[0] }}</a></h3>
    </div>
    {% endblock %}

    {% block dateModified %}
    <div class="rec-date-rating">
        <p class="rec-dateModified">Date Modified: {{ dateModified }}</p>
    </div>
    {% endblock %}

    {% block rating %}
    <div class="rec-rate">
        <p class="rec-rating">Rating: {{ recipe.rating }}</p>
    </div>
    {% endblock %}

    {% block times %}
    <div class="rec_times">
        <div class="rec_times_table">
           <br><table>
                <tr>
                    <th>Prep Time</th>
                    <th>Cook Time</th>
                    <th>Total Time</th>
                </tr>
                <tr>
                    <td>{{ recipe.prepTime }}</td>
                    <td>{{ recipe.cookTime }}</td>
                    <td>{{ recipe.totalTime }}</td>
                </tr>

            </table>

        </div>

    </div>
    {% endblock %}

    <div class="rec_yield-container">
        <span class="rec_yield">Yield: {{ recipe.recYield }}</span>
    </div>

    <div class="rec_ingredients-container">
        <h3 class="rec_ingredients-headline">Ingredients</h3>
        <hr>
        <div class="rec_ingredients-list-container">
            <ul class="rec_ingredients-list">
                {% for items in ingredients %}
                    <li class="rec_ingredients-item">{{  items  }}</li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <div class="rec_instructions-container">
        <h3 class="rec_instructions-headline">Instruction</h3>
        <hr>
        <div class="rec_instructions-list-container">
            <ol class="'ingredients-list">
                {% for items in instructions %}
                    {% if items.get('@type') == 'HowToStep' %}
                        <li class="instructions-step-text">{{  items.get('text')  }}</li>
                    {% elif items.get('@type') == 'HowToSection' %}
                        <h5 class="instructions-section-name">{{  items.get('name')  }}</h5>
                        {% if 'itemListElement' in items.keys() %}
                            {% for elements in items.get('itemListElement') %}
                                <li class="instructions-step-text-section">{{  elements.get('text')  }} </li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </ol>

        </div>

    </div>


</div>
{% endblock %}
{% endblock %}
</body>
</html>